body {
  margin: 0;
  background: #0f172a !important;
  color: white !important;
  font-family: Arial, sans-serif;
}

/* container */
.container {
  padding: 30px;
}

/* title */
.title {
  font-size: 40px;
  color: cyan;
}

.subtitle {
  margin-bottom: 30px;
  color: #ccc;
}

/* cards */
.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.card h2 {
  color: cyan;
}

.container {
  padding: 30px;
}

.title {
  font-size: 40px;
  color: cyan;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s;
}